@import "bootstrap3.scss";
$LatoBold: 'LatoBold';
$LatoLight: 'LatoLight';
$LatoRegular: 'LatoRegular';
$fontSmall: 13px;
$fontMedium: 17px;
$fontLarge: 30px;
$fontExtraLarge: 50px;


.App {
    min-height: 100vh;

    @include respond-to-mobile(767px){
        min-height: 100vh;
    }

    @include respond-to-ipad(768px, 1024px){
        min-height: 100vh;
    }
    
    
}

/*Banner Hero*/

.container-hero-banners {
    margin-top: 85px;
    width: 100%;
    overflow: hidden;
    position: relative;
    @include respond-to-mobile(767px){
        margin-top: 65px;
    }

    @include respond-to-ipad(768px, 1024px){
        margin-top: 70px;
    }
}

.featured-img {
    width: 100%;
}

.slick-prev {
    position: absolute;
    z-index: 80;
    left: 30px;
    top: 45%;
    width: 48px;
    height: 48px;
    border-color: #000;
    border-bottom: 3px solid;
    border-left: 3px solid;
    transform: rotate(45deg);
    background: transparent;
    border-right: 0;
    border-top: 0;
    outline: none;
    text-indent: -2000px;

    @include respond-to-mobile(767px){
        width: 24px;
        height: 24px;
        left: 15px;
        top: 30%;
        border-bottom: 2px solid;
        border-left: 2px solid;
    }
}

.slick-next {
    position: absolute;
    z-index: 80;
    right: 30px;
    top: 45%;
    position: absolute;
    z-index: 80;
    top: 45%;
    width: 48px;
    height: 48px;
    border-color: #000;
    border-bottom: 3px solid;
    border-left: 3px solid;
    transform: rotate(-135deg);
    background: transparent;
    border-right: 0;
    border-top: 0;
    outline: none;
    text-indent: -2000px;
    @include respond-to-mobile(767px){
        width: 24px;
        height: 24px;
        right: 15px;
        border-bottom: 2px solid;
        border-left: 2px solid;
        top: 30%;
    }
}

.slick-dots {
    position: absolute;
    z-index: 80;
    bottom: 10px;
    
}

.container-hero-banners .title-image {
    position: absolute;
    top: 110px;
    background: rgba(202,169,30,.9);
    color: #000000;
    font-family: $LatoBold;
    font-size: $fontExtraLarge;
    padding: 12px 20px;
    text-transform: uppercase;

    @include respond-to-mobile(767px){
        font-size: $fontMedium;
        top: 0px;
        padding: 8px 10px 8px 45px;
        text-align: center;
    }

    @include respond-to-ipad(768px, 1024px){
        position: relative;
        top: -174px;
        left: -8px;
        font-size: 30px;
        z-index: 86;
        width: 74%;
    }

}

.container-hero-banners .rule-image {
    position: absolute;
    top: 220px;
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-family: $LatoBold;
    font-size: $fontMedium;
    padding: 12px 20px;
    width: 370px;
    text-shadow: 0 1px 3px #000;
    
    @include respond-to-mobile(767px){
        display: none;
     }
 
     @include respond-to-ipad(768px, 1024px){
        display: none;
     }

}

.container-hero-banners a {
    position: absolute;
    bottom: 80px;
    right: 0;
    display: block;
    border: 2px solid rgba(202,169,30,.9);
    padding: 5px 20px;
    border-radius: 10px;
    color: #ffffff;
    font-family: $LatoBold;
    font-size: $fontLarge;
    text-shadow: 0 1px 4px #000;
    @include respond-to-mobile(767px){
        font-size: $fontSmall;
        text-align: center;
        bottom: 9px;
        right: 51px;
        padding: 6px;
        border-radius: 6px;
        border: 1px solid rgba(202,169,30,.9);;
     }
     @include respond-to-ipad(768px, 1024px){
        font-size: $fontMedium;
        text-align: center;
        bottom: 100px;
        right: 15%;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid rgba(202,169,30,.9);
    }

}

.container-hero-banners a:hover, .container-hero-banners a:active, .container-hero-banners a:focus, .container-hero-banners a:visited {
    background: rgba(202,169,30,.9);
    color: #ffffff;
    text-decoration: none;
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.container-hero-banners .details-image-inner {
    position: relative;
}
