@import "bootstrap3.scss";
$LatoBold: 'LatoBold';
$LatoLight: 'LatoLight';
$LatoRegular: 'LatoRegular';
$fontSmall: 13px;
$fontMedium: 17px;
$fontLarge: 30px;
$fontExtraLarge: 50px;


.App {
    min-height: 100vh;

    @include respond-to-mobile(767px){
        min-height: 100vh;
    }

    @include respond-to-ipad(768px, 1024px){
        min-height: 100vh;
    }
    
    
}